<component name="ArtifactManager">
  <artifact name="plugin">
    <output-path>$PROJECT_DIR$/out/artifacts/plugin</output-path>
    <root id="root">
      <element id="directory" name="lib">
        <element id="archive" name="koan-preview.jar">
          <element id="module-output" name="dsl-preview-plugin" />
          <element id="directory" name="META-INF">
            <element id="file-copy" path="$PROJECT_DIR$/src/META-INF/plugin.xml" />
          </element>
        </element>
        <element id="library" level="project" name="gson-2.3" />
        <element id="library" level="project" name="jeromq-0.3.4" />
      </element>
    </root>
  </artifact>
</component>